.ingr {
    font-size: small;
}

.itm {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.2rem 0rem 0.1rem 1rem;
    background-color: #F9EBC8;
}

.hddr {
    display:block;
}

nav {
    width: 100%;
    background-color: orange;
    height: 3rem;
    margin-bottom: 1rem;
    position: fixed;
}

main {
    width: 100%;
    padding-top: 5rem;
}

aside {
    width: 0%;
    text-align: center;
    padding-top: 6rem;
}

aside h1 {
    display: block;
    white-space: nowrap;
}


#returnBtn {
    margin: 0.3rem 0.5rem;
}

footer {
    background-color: orange;
    width: 100%;
    height: 2rem;
    position: fixed;
    display: flex;
    justify-content: center;
    
    /*hämtat från: https://www.w3schools.com/howto/howto_css_fixed_footer.asp*/
    left: 0;
    bottom: 0;
    
}

#foot {
    margin: 0 auto;
    width: 30%;
    margin-top: -2.0rem;
    height: 2.5rem;
    background-color: orange;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
}
.menu {
    padding-bottom: 5rem;
}

aside h1 {
    font-size:xx-large;
}